:root {
  --primary-red: #FF5252; /* Red */
  --primary-orange: #FF9800;
  --dark-orange : #ff4d01; /* dark orange */
  --secondary-orange: #FFA726; /* Orange */
  --accent-yellow: #FFD600; /* Yellow */
  --background-light: #FFF; /* Light background color */
  --text-light: #fff; /* light text color */
  --text-dark: #333; /* Dark text color */
  --text-darker: #222; /*darker text color */
  --section_color:#FFA726;
  --filter-color:#C70039;
  --text-green: #4caf50;
  --text-light-green: lightgreen;
  --text-dark-green:#45a049;

}
.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Helvetica Neue', sans-serif; /* Use a similar font */
}
 /*filters is the first child*/
.section:first-child{
 
  height: fit-content;
  width: fit-content;
  background:none;
  padding: 0;
  margin: 2px auto;
  overflow: hidden;
  justify-content: center;
}
.section {
  margin: 25px auto;
  /* border: 2px solid var(--primary-red);*/
  background-color: var(--section_color);
  border-radius: 10px; /* Add rounded corners */
  width: 60vw;
  height: fit-content; 
  margin-top: 2px;
  padding: 20px; /* Increase padding for more spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
  /*text-align: left;  Align text to the left */
  text-align: center;
}
/*Filter Section styling */
.section_filters{
  background-color: var(--text-dark);
  color: var(--text-light);
  border-radius: 10px;
  margin-bottom:5px;
  width:100%;
  margin-top: 0;
  padding: 5px 20px 5px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.section_filters label{
  margin-right: 10px;
}
.section_filters #filter_cafe{
  accent-color: var(--filter-color) ;
  width: 1.5em;
  height: 1.5em;
}
.selected{
  color: lightgreen;
  opacity: 1;
  transition: opacity 1s ease;
}
.not_selected{
  opacity: 0;
  transition: opacity 0.8s ease;
 
}
.search_field{
  font-size: 1.3em;
  border-radius: 10px;
  /* top right bottom left */
  padding: 5px 0 5px 25px; 
  width:20em;
}
/* Search styling*/
 .checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* Style for the container div */
.date-picker-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* the gap between the date-pickers*/
}
.date-picker:nth-child(2){
  display: flex;
  align-items: center;
  border-right: 2px solid var(--text-light);
  padding: 8px;
  border-radius: 8px;
}
.calendar-icon:first-child {
  color: #3498db; /* Sets the color to blue */
  font-size: 20px; 
  margin-right: 5px; 
}
/* Style for each date picker div */
.date-picker:first-child {
  display: flex;
  align-items: center;
  border-left: 2px solid var(--text-light);
  padding: 8px;
  border-radius: 8px;
}
/*Map styling */
.centered_map {
  position: relative;
  width: 100%;
  height: 400px; 
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.map{
  width: 70%;
}
/* Set the map container to fill its parent */
.leaflet-container {
  width: 100%;
  height: 100%;
}
/*inherited from parent
.map {
  width: inherit;
  max-width: inherit;
  height: inherit;
  max-height: inherit;
}
.popup{
  background-color: var(--text-darker);
  color:var(--secondary-orange);
  border-radius: 1em;
  padding:10px 25px;
  width: 500px;
  height: 200px;
  text-align: center;
}
*/
/* Popup style */
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--text-dark);
  padding: 6px 9px; 
}
.popup span{
  font-size: 16px;
}
.popup b{
  font-size: 14px;
  color: var(--text-light);
}
.popup_button {

  background-color: var(--text-green); 
  border: none; 
  color: var(--text-light);
  margin:0 auto;
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; /* Add cursor pointer on hover */
}

.popup_button:hover{
  background-color: var(--text-dark-green); /* Darker green on hover */
}
/* from 5 to 4.5 */
.rating-excellent{
  color: #4CAF50; /* Green */
}
/* from 4.5 to 4 */
.rating-great{
  color: #8BC34A; /* Light Green */
}
/* from 4 to 3.5 */
.rating-good{
  color: #FFEB3B; /* Yellow */
}
/* from 3.5 to 3 */
.rating-ok{
  color: #FF9800; /* Orange */
}
/* from 3 to 2 */
.rating-bad{
  color: #F44336; /* Red */
}
/* less than 2 */
.rating-not-recommended{
  color: #D32F2F; /* Dark Red */
}
/*Itinerary Styling */
.initial_itinerary_summary{
  position: relative;
  width: 30%;
  height: fit-content;
  margin: 0 auto;
  font-size: 15px;
  color:var(--text-darker);
  float:right;
}
/* Remove default list styling */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style list items */
li {
  padding: 8px; /* Adjust the padding as needed */
  position: relative;
}

/* Remove underlines from links within list items */
li a {
  text-decoration: none;
}

/*styles for hover and active*/
li:hover {
  background-color: #f0f0f0; /* Highlight background color on hover */
}

li a:hover {
  text-decoration: underline; /* Underline links on hover */
}

li:active {
  background-color: #ccc; /* Background color on active state */
}

.err_404{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* 80% of the viewport as vertical centering */
  text-align: center;
}
.err_404 h3 {
  font-size: 4em; 
  color: #DC143C; /* crimson fro errors */
  margin-bottom: 8px; 
}
.err_404 p {
  font-size: 1.8em; /* Adjust the font size as needed */
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* 80% rather than 100% of vertical screen height*/
  text-align: center;
}
.err_api{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height: 80vh;
  text-align:center;
}
.err_api .icon {
  color: 	#ff4d01; /* the triangle color for API errors */
  font-size: 3em;
  margin-bottom: 10px;
}
.err_api p {
  font-size: 1.6em;
}
.err_api h3{
  font-size: 2em;
  color: #ff4d01;
  margin-bottom: 10px;
}
.placeholder h3 {
  font-size: 2em;
  color: #FFA500;
  margin-bottom: 10px;
}

.placeholder .icon {
  color: #f39c12; /* the attention triangle color */
  font-size: 3em;
  margin-bottom: 10px;
}

.placeholder p {
  font-size: 1.6em;
}
/* Navigation styling */

.logo-link {
  text-decoration: none; 
  margin-right: 10px;
}

.navigation_light{
  background-color: var(--filter-color);
  padding: 12px;
  display: flex;
  justify-content: flex-start; /* aligns horizontally */
  align-items: center;/* aligns vertically*/
}
.link {
  color: var(--text-dark);
  background-color:var(--text-light) ;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  margin-right: 2em;
  padding: 0.25em 1em;
  border:2px solid black;
  border-radius: 15px;
  transition: color 0.3s ease, transform 0.3s ease; /* for animations */
}

.link:hover {
  background-color: var(--text-dark) ;
  color: var(--text-light);
  transform: translateY(3px); /* Lower the link for animation purposes*/
}
.logo-link.active{
  background-color: none;
  border:none;
}
.active {
  color:var(--text-dark);
  background-color: var(--secondary-orange);
  border-color: var(--accent-yellow);
}
.active:hover{
  background-color: var(--accent-yellow);
  color: var(--text-light);
  transform: translateY(3px); /* Lower the link for animation purposes*/
}

/* Responsive Styling */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .link {
    padding: 10px;
    text-align: center;
    width: 100%;
  }
}